.bookmark__container {
    width: 200px;
    position: relative;
    margin-bottom: 30px;
    height: 150px;
    padding: 15px;
    background:black;
    color: white;
    box-shadow: 1px 6px 20px 0px rgba(0, 0, 0, 0.32);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    text-transform: lowercase;
    font-size: 30px;
}
.bookmark__new {
    width: 50px;
}

.bookmark__link {
    color: white;
    display: flex;
    align-items: center;
    text-align: center;
    flex-grow: 2;
    justify-content: center;
    position: relative;
}

.bookmark__link:hover {
    color: white;
}
.button__container {
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    justify-content: space-between;
    width: 100%;
}

.bookmark__container:hover .button__container {
    display: flex;
}