.bookmark__grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

@media all and (max-width: 1200px) {
    .bookmark__grid {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
@media all and (max-width: 768px) {
    .bookmark__grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
}